.postItem {
    text-align: left;
    margin: 20px;
    .card-header {
        .avatar {
            background-color: red;
        }
    }
    .card-actions {
        display: flex;
    }
    .expand {
        transform: rotate(0deg),
    }
    .expand-open {
        transform: rotate(180deg),
    }
    .card-content {
        display: flex;
        justify-content: center;
        align-content: center;
        .card-content-row {
            width: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}